body  {
	width: 100%;
	height: 100%;
	background-color: #fff;
	.nav-background {
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: 0.2;
			position: absolute;
			z-index: 1;
			display: none;
			position: fixed;
		}
	header {
		width: 100%;
		height: 62px;
		background-color: #162027;
		position: fixed;
		z-index: 2;
		.logo {
			width: 55px;
			margin-top: 3.5px;
		}
		.ham-but {
			height: 15px;
			width: 27px;
			margin: 23.5px 10px 0 0;
			float: right;
			transition: 0.3s;
			.ham-line {
				width: 100%;
				height: 1px;
				background-color: #fff;
				transition: 0.1s;
				position: relative;
			}
			.second-line {
				top: 7px;
			}
			.third-line {
				top: 14px;
			}
			.change1 {
				top: 8px;
				transform: rotate(45deg);
			}
			.change2 {
				transform: rotate(-45deg);
				top: 7px;
			}
		}
	}
	.nav {
		height: 100%;
		float: right;
		position: fixed;
		padding-top: 62px;
		background-color: rgba(22, 32, 39, 0.95); 
		overflow-x: hidden;
		transition: 0.5s;
		width: 0;
		z-index: 3;
		text-align: center;
		.logo-nav {
			width: 75px;
			margin-top: 18px;
		}
		.nav-list {
			margin-top: 50px;
		}
		.usluge-show {
			width: 45px;
			height: 55px;
			background-color: rgba(255, 255, 255, 0.09);
			float: right;
			margin-top: -15px;
			opacity: 0;
			img {
				width: 10px;
				margin-top: 22.5px;
				transition: 0.3s;
			}
		}
		a {
			font: 400 20px 'Open Sans', sans-serif;
			color: #fff;
			opacity: 0;
			margin-left: 50px;
		}
		#dekoracija-button {
			margin-left: 0;
		}
		li {
			padding: 15px 0;
		}
		.usluge {
			display: none;
		}
		.proslave {
			display: none;
		}
		.proslave-show {
			width: 45px;
			height: 55px;
			background-color: rgba(255, 255, 255, 0.09);
			float: right;
			margin-top: -15px;
			opacity: 0;
			img {
				width: 10px;
				margin-top: 22.5px;
				transition: 0.3s;
			}
		}
		.nav-footer {
			width: 100%;
			margin-top: 40px;
			.social {
				width: 60px;
				margin: 0 auto;
				opacity: 0;
				a {
					width: 16px;
					opacity: 1;
					display: inline-block;
					margin-left: 0;
					img {
						width: 16px;
					}
				}
				a:last-child {
					margin-left: 18px;
				}
			}
			p {
				font: 400 13px 'Open Sans', sans-serif;
				color: #fff;
				margin: 25px 0 40px 0;
				opacity: 0;
			}
		}
	}
	.main-container {
	    width: 100%;
	    padding-top: 62px;
	    overflow-x: hidden;
	    .landing-slide {
		    width: 100%;
		    height: 100%;
		    overflow-x: hidden;
		    overflow-y: hidden;
		    position: absolute;
			img {
				position: absolute;
				transition: opacity 1s ease-in;
				width: 100%;
		    	height: 100%;
				}
			img + img { opacity: 0; }
		}
		.logo-landing {
			width: 150px;
			height: 150px;
			position: absolute;
			z-index: 2;
		}

		/* ABOUT US */

		.about-us {
			width: 100%;
			background-color: #fff;
			.about-us-head {
				width: 100%;
				height: 130px;
				background-color: #162027;
				h1 {
					color: #fff;
					font: 400 21px 'Open Sans', sans-serif;
					text-align: center;
					padding-top: 70px;
				}
			}
			.img-container {
				width: 300px;
				height: 375px;
				padding: 50px 0 15px 0;
				margin: 0 auto;
				img {
					width: 100%;
					height: 100%;
					box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
				}
			}
			.about-us-info-container {
				width: 90%;
				margin: 0 auto;
				color: #000;
				h1 {
					font: 400 28px 'Open Sans', sans-serif;
				}
				p {
					font: 400 15px 'Open Sans', sans-serif;
					padding-top: 12.75px;
				}
				ul {
					list-style: disc outside;
					font: 400 15px 'Open Sans', sans-serif;
					padding: 12.75px 0 70px 20px;
				}
			}
		}
				/* CONTACT */

		.contact {
			width: 100%;
			background-color: #fff;
			.contact-head {
				width: 100%;
				height: 130px;
				background-color: #162027;
				h1 {
					color: #fff;
					font: 400 21px 'Open Sans', sans-serif;
					text-align: center;
					padding-top: 70px;
				}
			}
			.img-container {
				width: 300px;
				height: 375px;
				padding: 50px 0 15px 0;
				margin: 0 auto;
				img {
					width: 100%;
					height: 100%;
					box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
				}
			}
			.contact-info-container {
				width: 80%;
				padding: 0 10% 50px 10%;
				.cont-info {
					width: 100%;
					padding-top: 30px;
					.icon-conteiner {
						width: 64px;
						height: 64px;
						border: 1px solid #000;
						border-radius: 50%;
						display: inline-block;
						img {
							width: 33px;
							margin-top: 15.5px;
							margin-left: 15.5px;
						}
					}
					p {
						color: #000;
						font: 400 13px 'Open Sans', sans-serif;
						display: inline-block;
						margin-left: 20px;
					}

				}
			}
		}

		/* GALERIJA */

		.galerija {
			width: 100%;
			background-color: #fff;
			.galerija-head {
				width: 100%;
				height: 130px;
				background-color: #162027;
				h1 {
					color: #fff;
					font: 400 21px 'Open Sans', sans-serif;
					text-align: center;
					padding-top: 70px;
				}
			}
			.galerija-slike {
				width: 100%;
				background-color: #fff;
				padding: 50px 0;
				.gal-img-container {
					width: 24%;
					height: 75px;
					-webkit-background-size: cover;
					background-size: cover;
					background-position: center;
					display: inline-block;
				}
				.gal-img-container-1 {					
					background-image: url(../img/vencanja/ven-1.jpg);
				}
				.gal-img-container-2 {					
					background-image: url(../img/vencanja/ven-2.jpg);
				}
				.gal-img-container-3 {					
					background-image: url(../img/vencanja/ven-3.jpg);
				}
				.gal-img-container-4 {					
					background-image: url(../img/vencanja/ven-4.jpg);
				}
				.gal-img-container-5 {					
					background-image: url(../img/vencanja/ven-5.jpg);
				}
				.gal-img-container-6 {					
					background-image: url(../img/vencanja/ven-6.jpg);
				}
				.gal-img-container-7 {					
					background-image: url(../img/vencanja/ven-7.jpg);
				}
				.gal-img-container-8 {					
					background-image: url(../img/vencanja/ven-8.jpg);
				}
				.gal-img-container-9 {					
					background-image: url(../img/vencanja/ven-9.jpg);
				}
				.gal-img-container-10 {					
					background-image: url(../img/vencanja/ven-10.jpg);
				}
				.gal-img-container-11 {					
					background-image: url(../img/vencanja/ven-11.jpg);
				}
			}
		}

		/*USLUGE CLASSE ZA EXTEND*/

		.usluge {
			width: 100%;
			background-color: #162027;
			text-align: center;
		}
		.usluge-head {
			width: 100%;
			background-color: #162027;
			padding: 50px 0 10px 0;
			img {
				width: 130px;
				padding: 10px;
			}
		}
		.usluge-img-container {
			-webkit-background-size: cover;
			background-size: cover;
			background-position: center;
			height: 400px;
			h2 {
				font: 500 32px 'Open Sans', sans-serif;
				color: #fff;
				padding-top: 30%;
			}
			img {
				width: 80px;
			}
		}

		.usluge-info {
			width: 90%;
			background-color: #162027;
			text-align: left;
			color: #fff;
			margin: 0 auto;
			padding-bottom: 30px;
			h5 {
				font: 400 17px 'Open Sans', sans-serif;
				margin-left: 10px;
			}
			p {
				font: 400 13px 'Open Sans', sans-serif;
			}
		}
		.usluge-slike {
			width: 90%;
			background-color: #fff;
			padding: 50px 5% 20px 5%;
		}
		.usluge-gal-img-container {
			width: 100%;
			height: 300px;
			-webkit-background-size: cover;
			background-size: cover;
			background-position: center;
			margin-bottom: 50px;
		}

			/* VENCANJA*/
		
		.vencanja {
			@extend .usluge;
			.vencanja-head {
				@extend .usluge-head;
				.img-container {
					background-image: url(../img/vencanje-mob.jpg);
					@extend .usluge-img-container;
				}
			}
			.vencanja-info {
				@extend .usluge-info;
			}
			.vencanja-slike {
				@extend .usluge-slike;
				.ven-img-container {
					@extend .usluge-gal-img-container;
				}
				.ven-img-container-1 {					
					background-image: url(../img/vencanja/ven-1.jpg);
				}
				.ven-img-container-2 {					
					background-image: url(../img/vencanja/ven-2.jpg);
				}
				.ven-img-container-3 {					
					background-image: url(../img/vencanja/ven-3.jpg);
				}
				.ven-img-container-4 {					
					background-image: url(../img/vencanja/ven-4.jpg);
				}
				.ven-img-container-5 {					
					background-image: url(../img/vencanja/ven-5.jpg);
				}
				.ven-img-container-6 {					
					background-image: url(../img/vencanja/ven-6.jpg);
				}
				.ven-img-container-7 {					
					background-image: url(../img/vencanja/ven-7.jpg);
				}
				.ven-img-container-8 {					
					background-image: url(../img/vencanja/ven-8.jpg);
				}
				.ven-img-container-9 {					
					background-image: url(../img/vencanja/ven-9.jpg);
				}
				.ven-img-container-10 {					
					background-image: url(../img/vencanja/ven-10.jpg);
				}
				.ven-img-container-11 {					
					background-image: url(../img/vencanja/ven-11.jpg);
				}
			}
		}

		/* RODJENDANI*/

		.rodjendani {
			@extend .usluge;
			.rodjendani-head {
				@extend .usluge-head;
				.img-container {
					background-image: url(../img/rodjendani1.jpg);
					@extend .usluge-img-container;
				}
			}
			.rodjendani-info {
				@extend .usluge-info;
			}
			.rodjendani-slike {
				@extend .usluge-slike;
				.rodj-img-container {
					@extend .usluge-gal-img-container;
				}
				.rodj-img-container-1 {					
					background-image: url(../img/rodjendani/rodj-1.jpg);
				}
				.rodj-img-container-2 {					
					background-image: url(../img/rodjendani/rodj-2.jpg);
				}
				.rodj-img-container-3 {					
					background-image: url(../img/rodjendani/rodj-3.jpg);
				}
				.rodj-img-container-4 {					
					background-image: url(../img/rodjendani/rodj-4.jpg);
				}
				.rodj-img-container-5 {					
					background-image: url(../img/rodjendani/rodj-5.jpg);
				}
				.rodj-img-container-6 {					
					background-image: url(../img/rodjendani/rodj-6.jpg);
				}
				.rodj-img-container-7 {					
					background-image: url(../img/rodjendani/rodj-7.jpg);
				}
				.rodj-img-container-8 {					
					background-image: url(../img/rodjendani/rodj-8.jpg);
				}
				.rodj-img-container-9 {					
					background-image: url(../img/rodjendani/rodj-9.jpg);
				}
				.rodj-img-container-10 {					
					background-image: url(../img/rodjendani/rodj-10.jpg);
				}
				.rodj-img-container-11 {					
					background-image: url(../img/rodjendani/rodj-11.jpg);
				}
				.rodj-img-container-12 {					
					background-image: url(../img/rodjendani/rodj-12.jpg);
				}
				.rodj-img-container-13 {					
					background-image: url(../img/rodjendani/rodj-13.jpg);
				}
				.rodj-img-container-14 {					
					background-image: url(../img/rodjendani/rodj-14.jpg);
				}
				.rodj-img-container-15 {					
					background-image: url(../img/rodjendani/rodj-15.jpg);
				}
			}
		}

		/* DOGADJAJI*/

		.dogadjaji {
			@extend .usluge;
			.dogadjaji-head {
				@extend .usluge-head;
				.img-container {
					background-image: url(../img/dogadjaji.jpg);
					@extend .usluge-img-container;
				}
			}
			.dogadjaji-info {
				@extend .usluge-info;
			}
			.dogadjaji-slike {
				@extend .usluge-slike;
				.dog-img-container {
					@extend .usluge-gal-img-container;
				}
				.dog-img-container-1 {					
					background-image: url(../img/dogadjaji/dog-1.jpg);
				}
				.dog-img-container-2 {					
					background-image: url(../img/dogadjaji/dog-2.jpg);
				}
				.dog-img-container-3 {					
					background-image: url(../img/dogadjaji/dog-3.jpg);
				}
				.dog-img-container-4 {					
					background-image: url(../img/dogadjaji/dog-4.jpg);
				}
				.dog-img-container-5 {					
					background-image: url(../img/dogadjaji/dog-5.jpg);
				}
				.dog-img-container-6 {					
					background-image: url(../img/dogadjaji/dog-6.jpg);
				}
				.dog-img-container-7 {					
					background-image: url(../img/dogadjaji/dog-7.jpg);
				}
			}
		}
		/*BUKETI*/
		.buketi {
			@extend .usluge;
			.buketi-head {
				@extend .usluge-head;
				.img-container {
					background-image: url(../img/buket3.jpg);
					@extend .usluge-img-container;
				}
			}
			.buketi-info {
				@extend .usluge-info;
			}
			.buketi-slike {
				@extend .usluge-slike;
				.buk-img-container {
					@extend .usluge-gal-img-container;
				}
				.buk-img-container-1 {					
					background-image: url(../img/buketi/buk-1.jpg);
				}
				.buk-img-container-2 {					
					background-image: url(../img/buketi/buk-2.jpg);
				}
				.buk-img-container-3 {					
					background-image: url(../img/buketi/buk-3.jpg);
				}
				.buk-img-container-4 {					
					background-image: url(../img/buketi/buk-4.jpg);
				}
				.buk-img-container-5 {					
					background-image: url(../img/buketi/buk-5.jpg);
				}
				.buk-img-container-6 {					
					background-image: url(../img/buketi/buk-6.jpg);
				}
				.buk-img-container-7 {					
					background-image: url(../img/buketi/buk-7.jpg);
				}
			}
		}
		/*BOX*/
		.box {
			@extend .usluge;
			.box-head {
				@extend .usluge-head;
				.img-container {
					background-image: url(../img/box.jpg);
					@extend .usluge-img-container;
				}
			}
			.box-info {
				@extend .usluge-info;
			}
			.box-slike {
				@extend .usluge-slike;
				.box-img-container {
					@extend .usluge-gal-img-container;
				}
				.box-img-container-1 {					
					background-image: url(../img/box/box-1.jpg);
				}
				.box-img-container-2 {					
					background-image: url(../img/box/box-2.jpg);
				}
				.box-img-container-3 {					
					background-image: url(../img/box/box-3.jpg);
				}
				.box-img-container-4 {					
					background-image: url(../img/box/box-4.jpg);
				}
				.box-img-container-5 {					
					background-image: url(../img/box/box-5.jpg);
				}
				.box-img-container-6 {					
					background-image: url(../img/box/box-6.jpg);
				}
				.box-img-container-7 {					
					background-image: url(../img/box/box-7.jpg);
				}
			}
		}

		/*BOX*/
		.aranzmani {
			@extend .usluge;
			.aranzmani-head {
				@extend .usluge-head;
				.img-container {
					background-image: url(../img/aranzmani.jpg);
					@extend .usluge-img-container;
				}
			}
			.aranzmani-info {
				@extend .usluge-info;
			}
			.aranzmani-slike {
				@extend .usluge-slike;
				.ara-img-container {
					@extend .usluge-gal-img-container;
				}
				.ara-img-container-1 {					
					background-image: url(../img/aranzmani/ara-1.jpg);
				}
				.ara-img-container-2 {					
					background-image: url(../img/aranzmani/ara-2.jpg);
				}
				.ara-img-container-3 {					
					background-image: url(../img/aranzmani/ara-3.jpg);
				}
				.ara-img-container-4 {					
					background-image: url(../img/aranzmani/ara-4.jpg);
				}
				.ara-img-container-5 {					
					background-image: url(../img/aranzmani/ara-5.jpg);
				}
				.ara-img-container-6 {					
					background-image: url(../img/aranzmani/ara-6.jpg);
				}
				.ara-img-container-7 {					
					background-image: url(../img/aranzmani/ara-7.jpg);
				}
			}
		}

		/*USLUGE FOOTER*/
		.template-footer {
				width: 80%;
				padding-top: 40px;
				padding: 0 10%;
				border-top: 1px solid #162027;
				background-color: #fff;
				text-align: left;
				.foot-cont-info {
					width: 100%;

					.foot-info {
						padding-top: 20px;
						img {
							width: 20px;
						}
						span {
							font: 600 13px 'Open Sans', sans-serif;
							color: #000;
							padding-left: 20px;
						}
					}
				}
				.social-in-template {
					width: 80px;
					padding-top: 20px;
					a {
						width: 20px;
						display: inline-block;
						margin-left: 0;
						img {
							width: 20px;
						}
					}
					a:last-child {
						margin-left: 25px;
					}
				}
				p {
					font: 600 16px 'Open Sans', sans-serif;
					color: #000;
					padding: 25px 0 40px 0;
				}
			}
	}

}
