body {
  width: 100%;
  height: 100%;
  background-color: #fff; }
  body .nav-background {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
    display: none;
    position: fixed; }
  body header {
    width: 100%;
    height: 62px;
    background-color: #162027;
    position: fixed;
    z-index: 2; }
    body header .logo {
      width: 55px;
      margin-top: 3.5px; }
    body header .ham-but {
      height: 15px;
      width: 27px;
      margin: 23.5px 10px 0 0;
      float: right;
      transition: 0.3s; }
      body header .ham-but .ham-line {
        width: 100%;
        height: 1px;
        background-color: #fff;
        transition: 0.1s;
        position: relative; }
      body header .ham-but .second-line {
        top: 7px; }
      body header .ham-but .third-line {
        top: 14px; }
      body header .ham-but .change1 {
        top: 8px;
        transform: rotate(45deg); }
      body header .ham-but .change2 {
        transform: rotate(-45deg);
        top: 7px; }
  body .nav {
    height: 100%;
    float: right;
    position: fixed;
    padding-top: 62px;
    background-color: rgba(22, 32, 39, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
    width: 0;
    z-index: 3;
    text-align: center; }
    body .nav .logo-nav {
      width: 75px;
      margin-top: 18px; }
    body .nav .nav-list {
      margin-top: 50px; }
    body .nav .usluge-show {
      width: 45px;
      height: 55px;
      background-color: rgba(255, 255, 255, 0.09);
      float: right;
      margin-top: -15px;
      opacity: 0; }
      body .nav .usluge-show img {
        width: 10px;
        margin-top: 22.5px;
        transition: 0.3s; }
    body .nav a {
      font: 400 20px 'Open Sans', sans-serif;
      color: #fff;
      opacity: 0;
      margin-left: 50px; }
    body .nav #dekoracija-button {
      margin-left: 0; }
    body .nav li {
      padding: 15px 0; }
    body .nav .usluge, body .nav .main-container .vencanja, body .main-container .nav .vencanja, body .nav .main-container .rodjendani, body .main-container .nav .rodjendani, body .nav .main-container .dogadjaji, body .main-container .nav .dogadjaji, body .nav .main-container .buketi, body .main-container .nav .buketi, body .nav .main-container .box, body .main-container .nav .box, body .nav .main-container .aranzmani, body .main-container .nav .aranzmani {
      display: none; }
    body .nav .proslave {
      display: none; }
    body .nav .proslave-show {
      width: 45px;
      height: 55px;
      background-color: rgba(255, 255, 255, 0.09);
      float: right;
      margin-top: -15px;
      opacity: 0; }
      body .nav .proslave-show img {
        width: 10px;
        margin-top: 22.5px;
        transition: 0.3s; }
    body .nav .nav-footer {
      width: 100%;
      margin-top: 40px; }
      body .nav .nav-footer .social {
        width: 60px;
        margin: 0 auto;
        opacity: 0; }
        body .nav .nav-footer .social a {
          width: 16px;
          opacity: 1;
          display: inline-block;
          margin-left: 0; }
          body .nav .nav-footer .social a img {
            width: 16px; }
        body .nav .nav-footer .social a:last-child {
          margin-left: 18px; }
      body .nav .nav-footer p {
        font: 400 13px 'Open Sans', sans-serif;
        color: #fff;
        margin: 25px 0 40px 0;
        opacity: 0; }
  body .main-container {
    width: 100%;
    padding-top: 62px;
    overflow-x: hidden;
    /* ABOUT US */
    /* CONTACT */
    /* GALERIJA */
    /*USLUGE CLASSE ZA EXTEND*/
    /* VENCANJA*/
    /* RODJENDANI*/
    /* DOGADJAJI*/
    /*BUKETI*/
    /*BOX*/
    /*BOX*/
    /*USLUGE FOOTER*/ }
    body .main-container .landing-slide {
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: hidden;
      position: absolute; }
      body .main-container .landing-slide img {
        position: absolute;
        transition: opacity 1s ease-in;
        width: 100%;
        height: 100%; }
      body .main-container .landing-slide img + img {
        opacity: 0; }
    body .main-container .logo-landing {
      width: 150px;
      height: 150px;
      position: absolute;
      z-index: 2; }
    body .main-container .about-us {
      width: 100%;
      background-color: #fff; }
      body .main-container .about-us .about-us-head {
        width: 100%;
        height: 130px;
        background-color: #162027; }
        body .main-container .about-us .about-us-head h1 {
          color: #fff;
          font: 400 21px 'Open Sans', sans-serif;
          text-align: center;
          padding-top: 70px; }
      body .main-container .about-us .img-container {
        width: 300px;
        height: 375px;
        padding: 50px 0 15px 0;
        margin: 0 auto; }
        body .main-container .about-us .img-container img {
          width: 100%;
          height: 100%;
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75); }
      body .main-container .about-us .about-us-info-container {
        width: 90%;
        margin: 0 auto;
        color: #000; }
        body .main-container .about-us .about-us-info-container h1 {
          font: 400 28px 'Open Sans', sans-serif; }
        body .main-container .about-us .about-us-info-container p {
          font: 400 15px 'Open Sans', sans-serif;
          padding-top: 12.75px; }
        body .main-container .about-us .about-us-info-container ul {
          list-style: disc outside;
          font: 400 15px 'Open Sans', sans-serif;
          padding: 12.75px 0 70px 20px; }
    body .main-container .contact {
      width: 100%;
      background-color: #fff; }
      body .main-container .contact .contact-head {
        width: 100%;
        height: 130px;
        background-color: #162027; }
        body .main-container .contact .contact-head h1 {
          color: #fff;
          font: 400 21px 'Open Sans', sans-serif;
          text-align: center;
          padding-top: 70px; }
      body .main-container .contact .img-container {
        width: 300px;
        height: 375px;
        padding: 50px 0 15px 0;
        margin: 0 auto; }
        body .main-container .contact .img-container img {
          width: 100%;
          height: 100%;
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75); }
      body .main-container .contact h1 {
        font: 400 28px 'Open Sans', sans-serif;
        width: 90%;
        margin-left: 5%; }
      body .main-container .contact .contact-text {
        font: 600 15px 'Open Sans', sans-serif;
        padding-top: 12.75px;
        width: 90%;
        margin-left: 5%; }
      body .main-container .contact .dostava-prikazi-vise {
        font: 600 15px 'Open Sans', sans-serif;
        padding-top: 12.75px;
        width: 90%;
        margin: 30px 0 0 5%;
        text-align: center; }
        body .main-container .contact .dostava-prikazi-vise img {
          width: 15px; }
      body .main-container .contact .dostava-vise {
        font: 400 15px 'Open Sans', sans-serif;
        padding-top: 12.75px;
        width: 90%;
        margin-left: 5%;
        display: none; }
      body .main-container .contact .contact-info-container {
        width: 80%;
        padding: 0 10% 50px 10%; }
        body .main-container .contact .contact-info-container .cont-info {
          width: 100%;
          padding-top: 30px; }
          body .main-container .contact .contact-info-container .cont-info .icon-conteiner {
            width: 64px;
            height: 64px;
            border: 1px solid #000;
            border-radius: 50%;
            display: inline-block; }
            body .main-container .contact .contact-info-container .cont-info .icon-conteiner img {
              width: 33px;
              margin-top: 15.5px;
              margin-left: 15.5px; }
          body .main-container .contact .contact-info-container .cont-info p {
            color: #000;
            font: 400 13px 'Open Sans', sans-serif;
            display: inline-block;
            margin-left: 20px; }
    body .main-container .galerija {
      width: 100%;
      background-color: #fff; }
      body .main-container .galerija .galerija-head {
        width: 100%;
        height: 130px;
        background-color: #162027; }
        body .main-container .galerija .galerija-head h1 {
          color: #fff;
          font: 400 21px 'Open Sans', sans-serif;
          text-align: center;
          padding-top: 70px; }
      body .main-container .galerija .galerija-slike {
        width: 100%;
        background-color: #fff;
        padding: 50px 0; }
        body .main-container .galerija .galerija-slike .gal-img-container {
          width: 24%;
          height: 75px;
          -webkit-background-size: cover;
          background-size: cover;
          background-position: center;
          display: inline-block; }
        body .main-container .galerija .galerija-slike .gal-img-container-1 {
          background-image: url(../img/vencanja/ven-1.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-2 {
          background-image: url(../img/vencanja/ven-2.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-3 {
          background-image: url(../img/vencanja/ven-3.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-4 {
          background-image: url(../img/vencanja/ven-4.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-5 {
          background-image: url(../img/vencanja/ven-5.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-6 {
          background-image: url(../img/vencanja/ven-6.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-7 {
          background-image: url(../img/vencanja/ven-7.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-8 {
          background-image: url(../img/vencanja/ven-8.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-9 {
          background-image: url(../img/vencanja/ven-9.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-10 {
          background-image: url(../img/vencanja/ven-10.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-11 {
          background-image: url(../img/vencanja/ven-11.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-12 {
          background-image: url(../img/vencanja/ven-12.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-13 {
          background-image: url(../img/vencanja/ven-13.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-14 {
          background-image: url(../img/vencanja/ven-14.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-15 {
          background-image: url(../img/vencanja/ven-15.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-16 {
          background-image: url(../img/vencanja/ven-16.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-17 {
          background-image: url(../img/vencanja/ven-17.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-18 {
          background-image: url(../img/vencanja/ven-18.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-19 {
          background-image: url(../img/vencanja/ven-19.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-20 {
          background-image: url(../img/vencanja/ven-20.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-21 {
          background-image: url(../img/vencanja/ven-21.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-22 {
          background-image: url(../img/vencanja/ven-22.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-23 {
          background-image: url(../img/vencanja/ven-23.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-24 {
          background-image: url(../img/vencanja/ven-24.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-25 {
          background-image: url(../img/vencanja/ven-25.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-26 {
          background-image: url(../img/rodjendani/rodj-1.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-27 {
          background-image: url(../img/rodjendani/rodj-2.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-28 {
          background-image: url(../img/rodjendani/rodj-3.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-29 {
          background-image: url(../img/rodjendani/rodj-4.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-30 {
          background-image: url(../img/rodjendani/rodj-5.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-31 {
          background-image: url(../img/rodjendani/rodj-6.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-32 {
          background-image: url(../img/rodjendani/rodj-7.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-33 {
          background-image: url(../img/rodjendani/rodj-8.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-34 {
          background-image: url(../img/rodjendani/rodj-9.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-35 {
          background-image: url(../img/rodjendani/rodj-10.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-36 {
          background-image: url(../img/rodjendani/rodj-11.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-37 {
          background-image: url(../img/rodjendani/rodj-12.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-38 {
          background-image: url(../img/rodjendani/rodj-13.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-39 {
          background-image: url(../img/rodjendani/rodj-14.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-40 {
          background-image: url(../img/rodjendani/rodj-15.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-41 {
          background-image: url(../img/dogadjaji/dog-1.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-42 {
          background-image: url(../img/dogadjaji/dog-2.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-43 {
          background-image: url(../img/dogadjaji/dog-3.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-44 {
          background-image: url(../img/dogadjaji/dog-4.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-45 {
          background-image: url(../img/box/box-1.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-46 {
          background-image: url(../img/box/box-2.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-47 {
          background-image: url(../img/box/box-3.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-48 {
          background-image: url(../img/box/box-4.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-49 {
          background-image: url(../img/box/box-5.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-50 {
          background-image: url(../img/box/box-6.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-51 {
          background-image: url(../img/box/box-7.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-52 {
          background-image: url(../img/box/box-8.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-53 {
          background-image: url(../img/box/box-9.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-54 {
          background-image: url(../img/box/box-10.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-55 {
          background-image: url(../img/box/box-11.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-56 {
          background-image: url(../img/box/box-12.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-57 {
          background-image: url(../img/box/box-13.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-58 {
          background-image: url(../img/box/box-14.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-59 {
          background-image: url(../img/box/box-15.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-60 {
          background-image: url(../img/box/box-16.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-61 {
          background-image: url(../img/box/box-17.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-62 {
          background-image: url(../img/box/box-18.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-63 {
          background-image: url(../img/box/box-19.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-64 {
          background-image: url(../img/box/box-20.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-65 {
          background-image: url(../img/box/box-21.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-66 {
          background-image: url(../img/buketi/buk-1.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-67 {
          background-image: url(../img/buketi/buk-2.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-68 {
          background-image: url(../img/buketi/buk-3.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-69 {
          background-image: url(../img/buketi/buk-4.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-70 {
          background-image: url(../img/buketi/buk-5.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-71 {
          background-image: url(../img/buketi/buk-6.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-72 {
          background-image: url(../img/buketi/buk-7.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-73 {
          background-image: url(../img/buketi/buk-8.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-74 {
          background-image: url(../img/buketi/buk-9.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-75 {
          background-image: url(../img/buketi/buk-10.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-76 {
          background-image: url(../img/buketi/buk-11.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-77 {
          background-image: url(../img/buketi/buk-12.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-78 {
          background-image: url(../img/buketi/buk-13.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-79 {
          background-image: url(../img/buketi/buk-14.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-80 {
          background-image: url(../img/buketi/buk-15.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-81 {
          background-image: url(../img/buketi/buk-16.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-82 {
          background-image: url(../img/buketi/buk-17.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-83 {
          background-image: url(../img/buketi/buk-18.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-84 {
          background-image: url(../img/buketi/buk-19.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-85 {
          background-image: url(../img/buketi/buk-20.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-86 {
          background-image: url(../img/buketi/buk-21.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-87 {
          background-image: url(../img/buketi/buk-22.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-88 {
          background-image: url(../img/buketi/buk-23.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-89 {
          background-image: url(../img/buketi/buk-24.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-90 {
          background-image: url(../img/buketi/buk-25.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-91 {
          background-image: url(../img/buketi/buk-26.jpg); }
        body .main-container .galerija .galerija-slike .gal-img-container-92 {
          background-image: url(../img/buketi/buk-27.jpg); }
    body .main-container .usluge, body .main-container .vencanja, body .main-container .rodjendani, body .main-container .dogadjaji, body .main-container .buketi, body .main-container .box, body .main-container .aranzmani {
      width: 100%;
      background-color: #162027;
      text-align: center; }
    body .main-container .usluge-head, body .main-container .vencanja .vencanja-head, body .main-container .rodjendani .rodjendani-head, body .main-container .dogadjaji .dogadjaji-head, body .main-container .buketi .buketi-head, body .main-container .box .box-head, body .main-container .aranzmani .aranzmani-head {
      width: 100%;
      background-color: #162027;
      padding: 50px 0 10px 0; }
      body .main-container .usluge-head img, body .main-container .vencanja .vencanja-head img, body .main-container .rodjendani .rodjendani-head img, body .main-container .dogadjaji .dogadjaji-head img, body .main-container .buketi .buketi-head img, body .main-container .box .box-head img, body .main-container .aranzmani .aranzmani-head img {
        width: 130px;
        padding: 10px; }
    body .main-container .usluge-img-container, body .main-container .vencanja .vencanja-head .img-container, body .main-container .rodjendani .rodjendani-head .img-container, body .main-container .dogadjaji .dogadjaji-head .img-container, body .main-container .buketi .buketi-head .img-container, body .main-container .box .box-head .img-container, body .main-container .aranzmani .aranzmani-head .img-container {
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      height: 400px; }
      body .main-container .usluge-img-container h2, body .main-container .vencanja .vencanja-head .img-container h2, body .main-container .rodjendani .rodjendani-head .img-container h2, body .main-container .dogadjaji .dogadjaji-head .img-container h2, body .main-container .buketi .buketi-head .img-container h2, body .main-container .box .box-head .img-container h2, body .main-container .aranzmani .aranzmani-head .img-container h2 {
        font: 500 32px 'Open Sans', sans-serif;
        color: #fff;
        padding-top: 30%; }
      body .main-container .usluge-img-container img, body .main-container .vencanja .vencanja-head .img-container img, body .main-container .rodjendani .rodjendani-head .img-container img, body .main-container .dogadjaji .dogadjaji-head .img-container img, body .main-container .buketi .buketi-head .img-container img, body .main-container .box .box-head .img-container img, body .main-container .aranzmani .aranzmani-head .img-container img {
        width: 80px; }
    body .main-container .usluge-info, body .main-container .vencanja .vencanja-info, body .main-container .rodjendani .rodjendani-info, body .main-container .dogadjaji .dogadjaji-info, body .main-container .buketi .buketi-info, body .main-container .box .box-info, body .main-container .aranzmani .aranzmani-info {
      width: 90%;
      background-color: #162027;
      text-align: left;
      color: #fff;
      margin: 0 auto;
      padding-bottom: 30px; }
      body .main-container .usluge-info h5, body .main-container .vencanja .vencanja-info h5, body .main-container .rodjendani .rodjendani-info h5, body .main-container .dogadjaji .dogadjaji-info h5, body .main-container .buketi .buketi-info h5, body .main-container .box .box-info h5, body .main-container .aranzmani .aranzmani-info h5 {
        font: 400 17px 'Open Sans', sans-serif;
        margin-left: 10px; }
      body .main-container .usluge-info p, body .main-container .vencanja .vencanja-info p, body .main-container .rodjendani .rodjendani-info p, body .main-container .dogadjaji .dogadjaji-info p, body .main-container .buketi .buketi-info p, body .main-container .box .box-info p, body .main-container .aranzmani .aranzmani-info p {
        font: 400 13px 'Open Sans', sans-serif; }
    body .main-container .usluge-slike, body .main-container .vencanja .vencanja-slike, body .main-container .rodjendani .rodjendani-slike, body .main-container .dogadjaji .dogadjaji-slike, body .main-container .buketi .buketi-slike, body .main-container .box .box-slike, body .main-container .aranzmani .aranzmani-slike {
      width: 90%;
      background-color: #fff;
      padding: 50px 5% 20px 5%; }
    body .main-container .usluge-gal-img-container, body .main-container .vencanja .vencanja-slike .ven-img-container, body .main-container .rodjendani .rodjendani-slike .rodj-img-container, body .main-container .dogadjaji .dogadjaji-slike .dog-img-container, body .main-container .buketi .buketi-slike .buk-img-container, body .main-container .box .box-slike .box-img-container, body .main-container .aranzmani .aranzmani-slike .ara-img-container {
      width: 100%;
      height: 300px;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      margin-bottom: 50px; }
    body .main-container .vencanja .vencanja-head .img-container {
      background-image: url(../img/vencanje-mob.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-1 {
      background-image: url(../img/vencanja/ven-1.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-2 {
      background-image: url(../img/vencanja/ven-2.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-3 {
      background-image: url(../img/vencanja/ven-3.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-4 {
      background-image: url(../img/vencanja/ven-4.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-5 {
      background-image: url(../img/vencanja/ven-5.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-6 {
      background-image: url(../img/vencanja/ven-6.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-7 {
      background-image: url(../img/vencanja/ven-7.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-8 {
      background-image: url(../img/vencanja/ven-8.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-9 {
      background-image: url(../img/vencanja/ven-9.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-10 {
      background-image: url(../img/vencanja/ven-10.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-11 {
      background-image: url(../img/vencanja/ven-11.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-12 {
      background-image: url(../img/vencanja/ven-12.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-13 {
      background-image: url(../img/vencanja/ven-13.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-14 {
      background-image: url(../img/vencanja/ven-14.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-15 {
      background-image: url(../img/vencanja/ven-15.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-16 {
      background-image: url(../img/vencanja/ven-16.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-17 {
      background-image: url(../img/vencanja/ven-17.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-18 {
      background-image: url(../img/vencanja/ven-18.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-19 {
      background-image: url(../img/vencanja/ven-19.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-20 {
      background-image: url(../img/vencanja/ven-20.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-21 {
      background-image: url(../img/vencanja/ven-21.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-22 {
      background-image: url(../img/vencanja/ven-22.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-23 {
      background-image: url(../img/vencanja/ven-23.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-24 {
      background-image: url(../img/vencanja/ven-24.jpg); }
    body .main-container .vencanja .vencanja-slike .ven-img-container-25 {
      background-image: url(../img/vencanja/ven-25.jpg); }
    body .main-container .rodjendani .rodjendani-head .img-container {
      background-image: url(../img/rodjendani1.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-container-1 {
      background-image: url(../img/rodjendani/rodj-1.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-container-2 {
      background-image: url(../img/rodjendani/rodj-2.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-container-3 {
      background-image: url(../img/rodjendani/rodj-3.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-container-4 {
      background-image: url(../img/rodjendani/rodj-4.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-container-5 {
      background-image: url(../img/rodjendani/rodj-5.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-container-6 {
      background-image: url(../img/rodjendani/rodj-6.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-container-7 {
      background-image: url(../img/rodjendani/rodj-7.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-container-8 {
      background-image: url(../img/rodjendani/rodj-8.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-container-9 {
      background-image: url(../img/rodjendani/rodj-9.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-container-10 {
      background-image: url(../img/rodjendani/rodj-10.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-container-11 {
      background-image: url(../img/rodjendani/rodj-11.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-container-12 {
      background-image: url(../img/rodjendani/rodj-12.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-container-13 {
      background-image: url(../img/rodjendani/rodj-13.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-container-14 {
      background-image: url(../img/rodjendani/rodj-14.jpg); }
    body .main-container .rodjendani .rodjendani-slike .rodj-img-container-15 {
      background-image: url(../img/rodjendani/rodj-15.jpg); }
    body .main-container .dogadjaji .dogadjaji-head .img-container {
      background-image: url(../img/dogadjaji.jpg); }
    body .main-container .dogadjaji .dogadjaji-slike .dog-img-container-1 {
      background-image: url(../img/dogadjaji/dog-1.jpg); }
    body .main-container .dogadjaji .dogadjaji-slike .dog-img-container-2 {
      background-image: url(../img/dogadjaji/dog-2.jpg); }
    body .main-container .dogadjaji .dogadjaji-slike .dog-img-container-3 {
      background-image: url(../img/dogadjaji/dog-3.jpg); }
    body .main-container .dogadjaji .dogadjaji-slike .dog-img-container-4 {
      background-image: url(../img/dogadjaji/dog-4.jpg); }
    body .main-container .buketi .buketi-head .img-container {
      background-image: url(../img/buket3.jpg); }
    body .main-container .buketi .buketi-slike p {
      font: 600 15px 'Open Sans', sans-serif;
      color: #000;
      margin-bottom: 30px; }
    body .main-container .buketi .buketi-slike .buk-img-container {
      margin-bottom: 10px; }
    body .main-container .buketi .buketi-slike .buk-img-container-1 {
      background-image: url(../img/buketi/buk-1.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-2 {
      background-image: url(../img/buketi/buk-2.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-3 {
      background-image: url(../img/buketi/buk-3.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-4 {
      background-image: url(../img/buketi/buk-4.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-5 {
      background-image: url(../img/buketi/buk-5.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-6 {
      background-image: url(../img/buketi/buk-6.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-7 {
      background-image: url(../img/buketi/buk-7.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-8 {
      background-image: url(../img/buketi/buk-8.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-9 {
      background-image: url(../img/buketi/buk-9.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-10 {
      background-image: url(../img/buketi/buk-10.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-11 {
      background-image: url(../img/buketi/buk-11.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-12 {
      background-image: url(../img/buketi/buk-12.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-13 {
      background-image: url(../img/buketi/buk-13.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-14 {
      background-image: url(../img/buketi/buk-14.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-15 {
      background-image: url(../img/buketi/buk-15.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-16 {
      background-image: url(../img/buketi/buk-16.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-17 {
      background-image: url(../img/buketi/buk-17.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-18 {
      background-image: url(../img/buketi/buk-18.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-19 {
      background-image: url(../img/buketi/buk-19.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-20 {
      background-image: url(../img/buketi/buk-20.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-21 {
      background-image: url(../img/buketi/buk-21.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-22 {
      background-image: url(../img/buketi/buk-22.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-23 {
      background-image: url(../img/buketi/buk-23.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-24 {
      background-image: url(../img/buketi/buk-24.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-25 {
      background-image: url(../img/buketi/buk-25.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-26 {
      background-image: url(../img/buketi/buk-26.jpg); }
    body .main-container .buketi .buketi-slike .buk-img-container-27 {
      background-image: url(../img/buketi/buk-27.jpg); }
    body .main-container .box .box-head .img-container {
      background-image: url(../img/box.jpg); }
    body .main-container .box .box-slike p {
      font: 600 15px 'Open Sans', sans-serif;
      color: #000;
      margin-bottom: 30px; }
    body .main-container .box .box-slike .box-img-container {
      margin-bottom: 10px; }
    body .main-container .box .box-slike .box-img-container-1 {
      background-image: url(../img/box/box-1.jpg); }
    body .main-container .box .box-slike .box-img-container-2 {
      background-image: url(../img/box/box-2.jpg); }
    body .main-container .box .box-slike .box-img-container-3 {
      background-image: url(../img/box/box-3.jpg); }
    body .main-container .box .box-slike .box-img-container-4 {
      background-image: url(../img/box/box-4.jpg); }
    body .main-container .box .box-slike .box-img-container-5 {
      background-image: url(../img/box/box-5.jpg); }
    body .main-container .box .box-slike .box-img-container-6 {
      background-image: url(../img/box/box-6.jpg); }
    body .main-container .box .box-slike .box-img-container-7 {
      background-image: url(../img/box/box-7.jpg); }
    body .main-container .box .box-slike .box-img-container-8 {
      background-image: url(../img/box/box-8.jpg); }
    body .main-container .box .box-slike .box-img-container-9 {
      background-image: url(../img/box/box-9.jpg); }
    body .main-container .box .box-slike .box-img-container-10 {
      background-image: url(../img/box/box-10.jpg); }
    body .main-container .box .box-slike .box-img-container-11 {
      background-image: url(../img/box/box-11.jpg); }
    body .main-container .box .box-slike .box-img-container-12 {
      background-image: url(../img/box/box-12.jpg); }
    body .main-container .box .box-slike .box-img-container-13 {
      background-image: url(../img/box/box-13.jpg); }
    body .main-container .box .box-slike .box-img-container-14 {
      background-image: url(../img/box/box-14.jpg); }
    body .main-container .box .box-slike .box-img-container-15 {
      background-image: url(../img/box/box-15.jpg); }
    body .main-container .box .box-slike .box-img-container-16 {
      background-image: url(../img/box/box-16.jpg); }
    body .main-container .box .box-slike .box-img-container-17 {
      background-image: url(../img/box/box-17.jpg); }
    body .main-container .box .box-slike .box-img-container-18 {
      background-image: url(../img/box/box-18.jpg); }
    body .main-container .box .box-slike .box-img-container-19 {
      background-image: url(../img/box/box-19.jpg); }
    body .main-container .box .box-slike .box-img-container-20 {
      background-image: url(../img/box/box-20.jpg); }
    body .main-container .box .box-slike .box-img-container-21 {
      background-image: url(../img/box/box-21.jpg); }
    body .main-container .aranzmani .aranzmani-head .img-container {
      background-image: url(../img/aranzmani.jpg); }
    body .main-container .aranzmani .aranzmani-slike .ara-img-container-1 {
      background-image: url(../img/aranzmani/ara-1.jpg); }
    body .main-container .aranzmani .aranzmani-slike .ara-img-container-2 {
      background-image: url(../img/aranzmani/ara-2.jpg); }
    body .main-container .aranzmani .aranzmani-slike .ara-img-container-3 {
      background-image: url(../img/aranzmani/ara-3.jpg); }
    body .main-container .aranzmani .aranzmani-slike .ara-img-container-4 {
      background-image: url(../img/aranzmani/ara-4.jpg); }
    body .main-container .aranzmani .aranzmani-slike .ara-img-container-5 {
      background-image: url(../img/aranzmani/ara-5.jpg); }
    body .main-container .aranzmani .aranzmani-slike .ara-img-container-6 {
      background-image: url(../img/aranzmani/ara-6.jpg); }
    body .main-container .aranzmani .aranzmani-slike .ara-img-container-7 {
      background-image: url(../img/aranzmani/ara-7.jpg); }
    body .main-container .template-footer {
      width: 80%;
      padding-top: 40px;
      padding: 0 10%;
      border-top: 1px solid #162027;
      background-color: #fff;
      text-align: left; }
      body .main-container .template-footer .foot-cont-info {
        width: 100%; }
        body .main-container .template-footer .foot-cont-info .foot-info {
          padding-top: 20px; }
          body .main-container .template-footer .foot-cont-info .foot-info img {
            width: 20px; }
          body .main-container .template-footer .foot-cont-info .foot-info span {
            font: 600 13px 'Open Sans', sans-serif;
            color: #000;
            padding-left: 20px; }
      body .main-container .template-footer .social-in-template {
        width: 80px;
        padding-top: 20px; }
        body .main-container .template-footer .social-in-template a {
          width: 20px;
          display: inline-block;
          margin-left: 0; }
          body .main-container .template-footer .social-in-template a img {
            width: 20px; }
        body .main-container .template-footer .social-in-template a:last-child {
          margin-left: 25px; }
      body .main-container .template-footer p {
        font: 600 16px 'Open Sans', sans-serif;
        color: #000;
        padding: 25px 0 40px 0; }

/*# sourceMappingURL=mobile.css.map */
