<div class="about-us">

					<div id="about-us-head" class="about-us-head">
						<h1>O nama</h1>
					</div>
					<div class="img-container">
						<img src="img/sanja-2.jpg">
					</div>
					<div class="about-us-info-container">

						<h1>Cvetni aranžmani su naša najveća strast</h1>
						<p>Sa pet godina profesionalnog iskustva i jedinstvene vizije, ostvarujemo vaše najhrabrije ideje.<br>Posetite našu novootvorenu cvećaru u kojoj se moderni minimalizam susreće sa klasičnom elegancijom.<br>Naše glavne usluge:</p>
						<ul>
							<li>Ležerni i svadbeni buketi</li>
							<li>Kompletna dekoracija venčanja i svih vrsta dogadjaja</li>
							<li>Stalna dekoracija hotela, kancelarija i apartnmana</li>
							<li>Venci i ukrasi za vaš dom ili prostor u kom radite</li>
							<li>Dostava cveća u Beogradu, a i u mnogim drugim gradovima širom Srbije</li>
						</ul>
					</div>

					<div class="template-footer">

						<div class="foot-cont-info">
							<div class="foot-phone foot-info">
								<img src="img/icons/telBlc.png"><span>(063) 7786728</span>
							</div>
							<div class="foot-email foot-info">
								<img src="img/icons/emailBlc.png"><span>blommfactory@gmail.com</span>
							</div>
							<div class="foot-location foot-info">
								<img src="img/icons/locationBlc.png"><span>Beograd - 27. Marta br. 36</span>
							</div>
						</div>

						<div class="social-in-template">
							<a target="blank" href="https://www.facebook.com/blommfactory/">
								<img src="img/icons/faceBlack.png">
							</a>
							<a target="blank" href="https://www.instagram.com/blommfactory/">
								<img src="img/icons/instaBlack.png">
							</a>
						</div>
						
						<p>2019 - Cvećara Blomm Factory</p>
					</div>
				</div>