<div class="box">
					<div id="box-head" class="box-head">
						<div class="img-container">
							<h2>BLOMM FACTORY @<br>FLOWER BOX</h2>
							<img src="img/icons/flower-box.png">
						</div>
						<img src="img/logoBlomm1.png">
					</div>
					<div id="box-info" class="box-info">
						<h5>Ključno je uvodjenje vašeg stila i ličnosti u dogadjaje!</h5>
						<br>
						<p>Ja verujem u zabave koje te teraju da izgubiš dah. Želim da se gosti osećaju opušteno. Znam da je planiranje dogadjaja vrlo stresno i moj cilj je da možete uživati u tom procesu planiranja sve do velikog dana!</p>
						
					</div>

					<div class="box-slike">
			 			<a href="img/box/box-1.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-1"></div></a>
			 			<a href="img/box/box-2.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-2"></div></a>
			 			<a href="img/box/box-3.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-3"></div></a>
			 			<a href="img/box/box-4.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-4"></div></a> 			
					    <a href="img/box/box-5.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-5"></div></a>
					    <a href="img/box/box-6.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-6"></div></a> 	
					    <a href="img/box/box-7.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-7"></div></a>		
			 		</div>

			 		<div class="template-footer">
						<div class="social-in-template">
							<a target="blank" href="https://www.facebook.com/blommfactory/">
								<img src="img/icons/face.png">
							</a>
							<a target="blank" href="https://www.instagram.com/blommfactory/">
								<img src="img/icons/insta.png">
							</a>
						</div>
					
						<p>2019 - Cvećara Blomm Factory</p>
					</div>
					
				</div>