<div class="box">
					<div id="box-head" class="box-head">
						<div class="img-container">
							<h2>BLOMM FACTORY @<br>FLOWER BOX</h2>
							<img src="img/icons/flower-box.png">
						</div>
						<img src="img/logoBlomm1.png">
					</div>
					<div id="box-info" class="box-info">
						<h5>Blomm Factory ne pristupa cveću kao običnom cveću,</h5>
						<br>
						<p>već je porodica koja omogućava osećanjima da odigraju svoju ulogu u kreiranju bujnih aranžmana koji će zaista ostaviti trajni utisak na vaše voljene.<br><br>Svaki aranžman u potpisnim Blomm Factory kutijama će bolje izraziti vaša osećanja i emocije od bilo kog drugog poklona. Sam dogovor o izgledu aranžmana će postati poruka koju želite poslati vašim voljenim osobama.</p>
						
					</div>

					<div id="box-slike" class="box-slike">
			 			<a href="img/box/box-1.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-1"></div></a>
			 			<a href="img/box/box-2.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-2"></div></a>
			 			<a href="img/box/box-3.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-3"></div></a>
			 			<a href="img/box/box-4.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-4"></div></a> 			
					    <a href="img/box/box-5.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-5"></div></a>
					    <a href="img/box/box-6.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-6"></div></a> 	
					    <a href="img/box/box-7.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-7"></div></a>
					    <a href="img/box/box-8.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-8"></div></a>
			 			<a href="img/box/box-9.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-9"></div></a>
			 			<a href="img/box/box-10.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-10"></div></a>
			 			<a href="img/box/box-11.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-11"></div></a> 			
					    <a href="img/box/box-12.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-12"></div></a>
					    <a href="img/box/box-13.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-13"></div></a> 	
					    <a href="img/box/box-14.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-14"></div></a>	
					    <a href="img/box/box-15.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-15"></div></a>
			 			<a href="img/box/box-16.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-16"></div></a>
			 			<a href="img/box/box-17.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-17"></div></a>
			 			<a href="img/box/box-18.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-18"></div></a> 			
					    <a href="img/box/box-19.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-19"></div></a>
					    <a href="img/box/box-20.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-20"></div></a> 	
					    <a href="img/box/box-21.jpg" data-lightbox="box-slike"><div class=" box-img-container box-img-container-21"></div></a>			
			 		</div>

			 		<div class="template-footer">

						<div class="foot-cont-info">
							<div class="foot-phone foot-info">
								<img src="img/icons/telBlc.png"><span>(063) 7786728</span>
							</div>
							<div class="foot-email foot-info">
								<img src="img/icons/emailBlc.png"><span>blommfactory@gmail.com</span>
							</div>
							<div class="foot-location foot-info">
								<img src="img/icons/locationBlc.png"><span>Beograd - 27. Marta br. 36</span>
							</div>
						</div>

						<div class="social-in-template">
							<a target="blank" href="https://www.facebook.com/blommfactory/">
								<img src="img/icons/faceBlack.png">
							</a>
							<a target="blank" href="https://www.instagram.com/blommfactory/">
								<img src="img/icons/instaBlack.png">
							</a>
						</div>
						
						<p>2019 - Cvećara Blomm Factory</p>
					</div>
					
				</div>