<div class="buketi">
					<div id="buketi-head" class="buketi-head">
						<div class="img-container">
							<h2>BLOMM FACTORY @<br>BUKETI</h2>
							<img src="img/icons/buket5.png">
						</div>
						<img src="img/logoBlomm1.png">
					</div>
					<div id="buketi-info" class="buketi-info">
						<h5>Ključno je uvodjenje vašeg stila i ličnosti u dogadjaje!</h5>
						<br>
						<p>Ja verujem u zabave koje te teraju da izgubiš dah. Želim da se gosti osećaju opušteno. Znam da je planiranje dogadjaja vrlo stresno i moj cilj je da možete uživati u tom procesu planiranja sve do velikog dana!</p>
						
					</div>

					<div class="buketi-slike">
			 			<a href="img/buketi/buk-1.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-1"></div></a>
			 			<a href="img/buketi/buk-2.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-2"></div></a>
			 			<a href="img/buketi/buk-3.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-3"></div></a>
			 			<a href="img/buketi/buk-4.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-4"></div></a> 			
					    <a href="img/buketi/buk-5.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-5"></div></a>
					    <a href="img/buketi/buk-6.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-6"></div></a> 	
					    <a href="img/buketi/buk-7.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-7"></div></a>		
			 		</div>

			 		<div class="template-footer">
						<div class="social-in-template">
							<a target="blank" href="https://www.facebook.com/blommfactory/">
								<img src="img/icons/faceBlack.png">
							</a>
							<a target="blank" href="https://www.instagram.com/blommfactory/">
								<img src="img/icons/instaBlack.png">
							</a>
						</div>
					
						<p>2019 - Cvećara Blomm Factory</p>
					</div>
					
				</div>