<div class="buketi">
					<div id="buketi-head" class="buketi-head">
						<div class="img-container">
							<h2>BLOMM FACTORY @<br>BUKETI</h2>
							<img src="img/icons/buket5.png">
						</div>
						<img src="img/logoBlomm1.png">
					</div>
					<div id="buketi-info" class="buketi-info">
						<h5></h5>
						<br>
						<p></p>
						
					</div>

					<div id="buketi-slike" class="buketi-slike">
			 			<a href="img/buketi/buk-1.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-1"></div></a>
			 			<a href="img/buketi/buk-2.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-2"></div></a>
			 			<a href="img/buketi/buk-3.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-3"></div></a>
			 			<a href="img/buketi/buk-4.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-4"></div></a> 			
					    <a href="img/buketi/buk-5.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-5"></div></a>
					    <a href="img/buketi/buk-6.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-6"></div></a> 	
					    <a href="img/buketi/buk-7.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-7"></div></a>
					    <a href="img/buketi/buk-8.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-8"></div></a>
			 			<a href="img/buketi/buk-9.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-9"></div></a>
			 			<a href="img/buketi/buk-10.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-10"></div></a>
			 			<a href="img/buketi/buk-11.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-11"></div></a> 			
					    <a href="img/buketi/buk-12.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-12"></div></a>
					    <a href="img/buketi/buk-13.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-13"></div></a> 	
					    <a href="img/buketi/buk-14.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-14"></div></a>
					    <a href="img/buketi/buk-15.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-15"></div></a>
			 			<a href="img/buketi/buk-16.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-16"></div></a>
			 			<a href="img/buketi/buk-17.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-17"></div></a>
			 			<a href="img/buketi/buk-18.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-18"></div></a> 			
					    <a href="img/buketi/buk-19.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-19"></div></a>
					    <a href="img/buketi/buk-20.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-20"></div></a> 	
					    <a href="img/buketi/buk-21.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-21"></div></a>
					    <a href="img/buketi/buk-22.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-22"></div></a>
			 			<a href="img/buketi/buk-23.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-23"></div></a>
			 			<a href="img/buketi/buk-24.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-24"></div></a>
			 			<a href="img/buketi/buk-25.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-25"></div></a> 			
					    <a href="img/buketi/buk-26.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-26"></div></a>
					    <a href="img/buketi/buk-27.jpg" data-lightbox="buketi-slike"><div class=" buk-img-container buk-img-container-27"></div></a> 			
			 		</div>

			 		<div class="template-footer">

						<div class="foot-cont-info">
							<div class="foot-phone foot-info">
								<img src="img/icons/telBlc.png"><span>(063) 7786728</span>
							</div>
							<div class="foot-email foot-info">
								<img src="img/icons/emailBlc.png"><span>blommfactory@gmail.com</span>
							</div>
							<div class="foot-location foot-info">
								<img src="img/icons/locationBlc.png"><span>Beograd - 27. Marta br. 36</span>
							</div>
						</div>

						<div class="social-in-template">
							<a target="blank" href="https://www.facebook.com/blommfactory/">
								<img src="img/icons/faceBlack.png">
							</a>
							<a target="blank" href="https://www.instagram.com/blommfactory/">
								<img src="img/icons/instaBlack.png">
							</a>
						</div>
						
						<p>2019 - Cvećara Blomm Factory</p>
					</div>
					
				</div>