<div class="contact">
					
					<div id="contact-head" class="contact-head">
						<h1>Kontakt</h1>
					</div>

					<div class="img-container">
						<img src="img/shop.jpg">
					</div>

					<div class="contact-info-container">

						<div class="cont-phone cont-info">
							<div class="icon-conteiner">
								<img src="img/icons/telBlc.png">
							</div>
							<p>(063) 7786728</p>
						</div>
											
						<div class="cont-email cont-info">
							<div class="icon-conteiner">
								<img src="img/icons/emailBlc.png">
							</div>
							<p>blommfactory@gmail.com</p>
						</div>
											
						<div class="cont-location cont-info">
							<div class="icon-conteiner">
								<img src="img/icons/locationBlc.png">
							</div>
							<p>Beograd - 27. Marta br. 36</p>
						</div>

						<a target="blank" href="https://www.facebook.com/blommfactory/">
							<div class="cont-phone cont-info">
								<div class="icon-conteiner">
									<img src="img/icons/faceBlack.png">
								</div>
								<p>Facebook</p>
							</div>
						</a>
											
						<a target="blank" href="https://www.instagram.com/blommfactory/">
							<div class="cont-phone cont-info">
								<div class="icon-conteiner">
									<img src="img/icons/instaBlack.png">
								</div>
								<p>Instagram</p>
							</div>
						</a>
										
					</div>

					<div class="template-footer">

						
						<p>2019 - Cvećara Blomm Factory</p>
					</div>

				</div>