<div class="dogadjaji">
					<div id="dogadjaji-head" class="dogadjaji-head">
						<div class="img-container">
							<h2>BLOMM FACTORY @<br>DOGADJAJI</h2>
							<img src="img/icons/glass.png">
						</div>
						<img src="img/logoBlomm1.png">
					</div>
					<div id="dogadjaji-info" class="dogadjaji-info">
						<h5>Svaki dogadjaj treba upotpuniti dekoracijom...</h5>
						<br>
						<p>da bi se gosti osećali prijatnije i opuštenije.<br><br>Zato je naš tim tu, da vam pomogne, da u svaki dogadjaj unese ono što je potrebno da se o samom dogadjaju priča i posle mnogo vremena...</p>
						
					</div>

					<div class="dogadjaji-slike">
			 			<a href="img/dogadjaji/dog-1.jpg" data-lightbox="dogadjaji-slike"><div class=" dog-img-container dog-img-container-1"></div></a>
			 			<a href="img/dogadjaji/dog-2.jpg" data-lightbox="dogadjaji-slike"><div class=" dog-img-container dog-img-container-2"></div></a>
			 			<a href="img/dogadjaji/dog-3.jpg" data-lightbox="dogadjaji-slike"><div class=" dog-img-container dog-img-container-3"></div></a>
			 			<a href="img/dogadjaji/dog-4.jpg" data-lightbox="dogadjaji-slike"><div class=" dog-img-container dog-img-container-4"></div></a> 				
			 		</div>

			 		<div class="template-footer">

						<div class="foot-cont-info">
							<div class="foot-phone foot-info">
								<img src="img/icons/telBlc.png"><span>(063) 7786728</span>
							</div>
							<div class="foot-email foot-info">
								<img src="img/icons/emailBlc.png"><span>blommfactory@gmail.com</span>
							</div>
							<div class="foot-location foot-info">
								<img src="img/icons/locationBlc.png"><span>Beograd - 27. Marta br. 36</span>
							</div>
						</div>

						<div class="social-in-template">
							<a target="blank" href="https://www.facebook.com/blommfactory/">
								<img src="img/icons/faceBlack.png">
							</a>
							<a target="blank" href="https://www.instagram.com/blommfactory/">
								<img src="img/icons/instaBlack.png">
							</a>
						</div>
						
						<p>2019 - Cvećara Blomm Factory</p>
					</div>
					
				</div>