<div class="galerija">

					<div id="galerija-head" class="galerija-head">
						<h1>Galerija</h1>
					</div>

					<div class="galerija-slike">
			 			<a href="img/vencanja/ven-1.jpg" data-lightbox="galerija-slike"><div class=" gal-img-container gal-img-container-1"></div></a>
			 			<a href="img/vencanja/ven-2.jpg" data-lightbox="galerija-slike"><div class=" gal-img-container gal-img-container-2"></div></a>
			 			<a href="img/vencanja/ven-3.jpg" data-lightbox="galerija-slike"><div class=" gal-img-container gal-img-container-3"></div></a>
			 			<a href="img/vencanja/ven-4.jpg" data-lightbox="galerija-slike"><div class=" gal-img-container gal-img-container-4"></div></a> 			
					    <a href="img/vencanja/ven-5.jpg" data-lightbox="galerija-slike"><div class=" gal-img-container gal-img-container-5"></div></a>
					    <a href="img/vencanja/ven-6.jpg" data-lightbox="galerija-slike"><div class=" gal-img-container gal-img-container-6"></div></a> 	
					    <a href="img/vencanja/ven-7.jpg" data-lightbox="galerija-slike"><div class=" gal-img-container gal-img-container-7"></div></a>
			 			<a href="img/vencanja/ven-8.jpg" data-lightbox="galerija-slike"><div class=" gal-img-container gal-img-container-8"></div></a>
			 			<a href="img/vencanja/ven-9.jpg" data-lightbox="galerija-slike"><div class=" gal-img-container gal-img-container-9"></div></a> 			
					    <a href="img/vencanja/ven-10.jpg" data-lightbox="galerija-slike"><div class=" gal-img-container gal-img-container-10"></div></a>
					    <a href="img/vencanja/ven-11.jpg" data-lightbox="galerija-slike"><div class=" gal-img-container gal-img-container-11"></div></a> 		
			 		</div>

			 		<div class="template-footer">

						<div class="foot-cont-info">
							<div class="foot-phone foot-info">
								<img src="img/icons/telBlc.png"><span>(063) 7786728</span>
							</div>
							<div class="foot-email foot-info">
								<img src="img/icons/emailBlc.png"><span>blommfactory@gmail.com</span>
							</div>
							<div class="foot-location foot-info">
								<img src="img/icons/locationBlc.png"><span>Beograd - 27. Marta br. 36</span>
							</div>
						</div>

						<div class="social-in-template">
							<a target="blank" href="https://www.facebook.com/blommfactory/">
								<img src="img/icons/faceBlack.png">
							</a>
							<a target="blank" href="https://www.instagram.com/blommfactory/">
								<img src="img/icons/instaBlack.png">
							</a>
						</div>
						
						<p>2019 - Cvećara Blomm Factory</p>
					</div>

				</div>