<div class="rodjendani">
					<div id="rodjendani-head" class="rodjendani-head">
						<div class="img-container">
							<h2>BLOMM FACTORY @<br>RODJENDANI</h2>
							<img src="img/icons/cake-icon.png">
						</div>
						<img src="img/logoBlomm1.png">
					</div>
					<div id="rodjendani-info" class="rodjendani-info">
						<h5>Neka vaši rodjendani i rodjendani vaših mališana budu za pamćenje!</h5>
						<br>
						<p>Dozvolite našem timu da ispriča vašu bajku na najbolji mogući način...</p>
						
					</div>

					<div class="rodjendani-slike">
			 			<a href="img/rodjendani/rodj-1.jpg" data-lightbox="rodjendani-slike"><div class=" rodj-img-container rodj-img-container-1"></div></a>
			 			<a href="img/rodjendani/rodj-2.jpg" data-lightbox="rodjendani-slike"><div class=" rodj-img-container rodj-img-container-2"></div></a>
			 			<a href="img/rodjendani/rodj-3.jpg" data-lightbox="rodjendani-slike"><div class=" rodj-img-container rodj-img-container-3"></div></a>
			 			<a href="img/rodjendani/rodj-4.jpg" data-lightbox="rodjendani-slike"><div class=" rodj-img-container rodj-img-container-4"></div></a> 			
					    <a href="img/rodjendani/rodj-5.jpg" data-lightbox="rodjendani-slike"><div class=" rodj-img-container rodj-img-container-5"></div></a>
					    <a href="img/rodjendani/rodj-6.jpg" data-lightbox="rodjendani-slike"><div class=" rodj-img-container rodj-img-container-6"></div></a> 	
					    <a href="img/rodjendani/rodj-7.jpg" data-lightbox="rodjendani-slike"><div class=" rodj-img-container rodj-img-container-7"></div></a>
					    <a href="img/rodjendani/rodj-8.jpg" data-lightbox="rodjendani-slike"><div class=" rodj-img-container rodj-img-container-8"></div></a>
			 			<a href="img/rodjendani/rodj-9.jpg" data-lightbox="rodjendani-slike"><div class=" rodj-img-container rodj-img-container-9"></div></a>
			 			<a href="img/rodjendani/rodj-10.jpg" data-lightbox="rodjendani-slike"><div class=" rodj-img-container rodj-img-container-10"></div></a>
			 			<a href="img/rodjendani/rodj-11.jpg" data-lightbox="rodjendani-slike"><div class=" rodj-img-container rodj-img-container-11"></div></a> 			
					    <a href="img/rodjendani/rodj-12.jpg" data-lightbox="rodjendani-slike"><div class=" rodj-img-container rodj-img-container-12"></div></a>
					    <a href="img/rodjendani/rodj-13.jpg" data-lightbox="rodjendani-slike"><div class=" rodj-img-container rodj-img-container-13"></div></a> 	
					    <a href="img/rodjendani/rodj-14.jpg" data-lightbox="rodjendani-slike"><div class=" rodj-img-container rodj-img-container-14"></div></a>
					    <a href="img/rodjendani/rodj-15.jpg" data-lightbox="rodjendani-slike"><div class=" rodj-img-container rodj-img-container-15"></div></a>			
			 		</div>

			 		<div class="template-footer">

						<div class="foot-cont-info">
							<div class="foot-phone foot-info">
								<img src="img/icons/telBlc.png"><span>(063) 7786728</span>
							</div>
							<div class="foot-email foot-info">
								<img src="img/icons/emailBlc.png"><span>blommfactory@gmail.com</span>
							</div>
							<div class="foot-location foot-info">
								<img src="img/icons/locationBlc.png"><span>Beograd - 27. Marta br. 36</span>
							</div>
						</div>

						<div class="social-in-template">
							<a target="blank" href="https://www.facebook.com/blommfactory/">
								<img src="img/icons/faceBlack.png">
							</a>
							<a target="blank" href="https://www.instagram.com/blommfactory/">
								<img src="img/icons/instaBlack.png">
							</a>
						</div>
						
						<p>2019 - Cvećara Blomm Factory</p>
					</div>
					
				</div>
				