<div class="vencanja">
					<div id="vencanja-head" class="vencanja-head">
						<div class="img-container">
							<h2>BLOMM FACTORY @<br>VENČANJA</h2>
							<img src="img/icons/rings-white.png">
						</div>
						<img src="img/logoBlomm1.png">
					</div>
					<div id="vencanja-info" class="vencanja-info">
						<h5>Svaki par je jedinstven!</h5>
						<br>
						<p>Imate sopstveni stil, zajedniče interese, emocionalna sećanja, jedinstvenu ljubav jednu prema drugom i vlastitu sliku o tome kako izgleda savršen dan, kada ste najsrećniji.<br><br>Sa ovim, naš cilj je da nateramo mladu i mladoženju da zanemare kako bi venčanje trebalo da bude, i da počnu od nule da kreiraju dan koji će ih odraziti kao par.<br><br>Želimo vam pomoći da stvorite nešto novo, nešto jedinstveno i nešto što ste samo vi!<br><br>Imajući to na umu, pomažemo vam da planirate i dizajnirate svoj veliki dan i zajedno sa nama se zabavite na tom putu!</p>
						
					</div>

					<div class="vencanja-slike">
			 			<a href="img/vencanja/ven-1.jpg" data-lightbox="vencanja-slike"><div class=" ven-img-container ven-img-container-1"></div></a>
			 			<a href="img/vencanja/ven-2.jpg" data-lightbox="vencanja-slike"><div class=" ven-img-container ven-img-container-2"></div></a>
			 			<a href="img/vencanja/ven-3.jpg" data-lightbox="vencanja-slike"><div class=" ven-img-container ven-img-container-3"></div></a>
			 			<a href="img/vencanja/ven-4.jpg" data-lightbox="vencanja-slike"><div class=" ven-img-container ven-img-container-4"></div></a> 			
					    <a href="img/vencanja/ven-5.jpg" data-lightbox="vencanja-slike"><div class=" ven-img-container ven-img-container-5"></div></a>
					    <a href="img/vencanja/ven-6.jpg" data-lightbox="vencanja-slike"><div class=" ven-img-container ven-img-container-6"></div></a> 			
			 		</div>

			 		<div class="template-footer">
						<div class="social-in-template">
							<a target="blank" href="https://www.facebook.com/blommfactory/">
								<img src="img/icons/face.png">
							</a>
							<a target="blank" href="https://www.instagram.com/blommfactory/">
								<img src="img/icons/insta.png">
							</a>
						</div>
					
						<p>2019 - Cvećara Blomm Factory</p>
					</div>
					
				</div>